[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
ghastoolkit = "==0.1.16"

[dev-packages]
sphinx = "*"
myst-parser = "*"
black = "*"

[scripts]
main = "python -m ghascompliance"
test = "python -m unittest discover -s ./tests -p 'test_*.py'"
fmt = "black ghascompliance tests"
lint = "black --check ghascompliance tests"
vendor = "./vendor/update.sh"
