[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
ghastoolkit = "==0.10.0"
semantic-version = "*"

[dev-packages]
sphinx = "*"
myst-parser = "*"
black = "*"
typing_extensions = "*"

[scripts]
main = "python -m ghascompliance"
# generate license files
license-gen = "python vendor/ghastoolkit/supplychain/licensing.py -o ./ghascompliance/data/clearlydefined.json"
# vendor the deps
vendor = "./vendor/update.sh"
# tests / linting
test = "python -m unittest discover -s ./tests -p 'test_*.py'"
fmt = "black ghascompliance tests"
lint = "black --check ghascompliance tests"
