[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.5b1"
sphinx = "*"
myst-parser = "*"

[packages]
pyyaml = "*"
requests = "*"
ghastoolkit = "0.1.12"


[scripts]
main = "python -m ghascompliance"
test = "python -m unittest discover -s ./tests -p 'test_*.py'"
vendor = "./vendor/update.sh"
format = "black ."
